.address_view {


    button {
  
    }
  
    .address_view {
        font-size: 26rpx;
        padding: 15rpx;
        .name_num{
            display: flex;
            justify-content: space-between;
            .userName{

            }
            .num{

            }
        }
        .add{

        }
    }
  }